{% extends 'tool/common.html' %} {% block content %} {% load static %}

<div class="content-container">
  <div class="c-container">
    <div class="c-wrapper">
      <div class="card">
        <div class="c-image-container">
          <img src="{% static 'tool/profile_image.jpeg' %}" class="c-image" />
        </div>
        <div class="c-content">
          <h2>Luca Morelli</h2>
          <p>
            I was born in Benevento (Italy) on October 14th 2000, and I enrolled
            in a Computer Science course at the University of Salerno in 2019.
            During these years, I improved my skills in Programming, Mathematics
            and developing Algorithms. Also, I fell in love with Data Science &
            Machine learning and front-end development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
