{% extends 'tool/common.html' %} {% block content %} {% load static %}

<div class="content-container">
  <div class="c-container">
    <div class="c-wrapper">
      <div class="card">
        <div class="c-image-container">
          <img src="{% static 'tool/dg_logo.png' %}" class="c-image" />
        </div>
        <div class="c-content">
          <h2>Titolo</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="c-image-container">
          <img src="{% static 'tool/dg_logo.png' %}" class="c-image" />
        </div>
        <div class="c-content">
          <h2>Titolo</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="c-image-container">
          <img src="{% static 'tool/dg_logo.png' %}" class="c-image" />
        </div>
        <div class="c-content">
          <h2>Titolo</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="c-image-container">
          <img src="{% static 'tool/dg_logo.png' %}" class="c-image" />
        </div>
        <div class="c-content">
          <h2>Titolo</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
