{% extends 'tool/common.html' %} {% block content %} {% load static %}

<div class="timeline">
  <div class="t-container left">
    <div class="t-content">
      <h2>2017</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="t-container right">
    <div class="t-content">
      <h2>2016</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="t-container left">
    <div class="t-content">
      <h2>2015</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="t-container right">
    <div class="t-content">
      <h2>2012</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="t-container left">
    <div class="t-content">
      <h2>2011</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="t-container right">
    <div class="t-content">
      <h2>2007</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
</div>

<div class="content-container">
  <div>
    <p class="lead">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <a href="{%  url 'jupyter' %}" type="button" class="btn btn-primary"
      >Vai a jupyter</a
    >
    <a href="{%  url 'results' %}" type="button" class="btn btn-secondary"
      >Esegui algoritmo</a
    >
  </div>
</div>

{% endblock %}
