{% extends 'tool/common.html' %} {% block content %} {% load static %}

<div class="timeline">
  <div class="t-container left">
    <div class="t-content">
      <h2>G model</h2>
      <p>
        Il Gravity model o modello gravitazionale classico (G), proposto da
        George K. Zipf nel 1946, è stato il primo modello di successo che si
        interessasse ai flussi migratori. Esso si basa sull’idea secondo cui il
        numero di viaggiatori tra due luoghi, definito come flusso, aumenti
        all’aumentare della popolazione di origine e destinazione e diminuisca
        all’aumentare della distanza tra i due luoghi.
      </p>
      <a href="{%  url 'g_results' %}" type="button" class="btn"
        ><span> Run G</span><i></i
      ></a>
    </div>
  </div>
  <div class="t-container right">
    <div class="t-content">
      <h2>DG model</h2>
      <p>
        Il Deep Gravity model (DG), sviluppato dall’Istituto di scienza e
        tecnologie dell’informazione del Consiglio Nazionale delle Ricerche in
        collaborazione con la Fondazione Bruno Kessler di Trento e con l’Argonne
        National Laboratory degli USA il 12 novembre 2021, è un modello atto
        alla predizione di flussi di mobilità. Tramite la maggiore capacità di
        generalizzazione e l'assenza di dati storici in input, Deep Gravity è
        riuscito a generare flussi realistici anche per aree geografiche per le
        quali non erano disponibili dati durante la fase di addestramento.
      </p>
      <a href="{%  url 'dg_results' %}" type="button" class="btn"
        ><span>run DG</span><i></i
      ></a>
    </div>
  </div>
  <div class="t-container left">
    <div class="t-content">
      <h2>NG model</h2>
      <p>
        Il Nonlinear Gravity model(NG) utilizza una rete neurale feed-forward
        unita alla struttura di Deep Gravity, avendo, però, caratteristiche in
        input, ovvero popolazione e distanza, analoghe al Gravity model.
      </p>
      <a href="{%  url 'ng_results' %}" type="button" class="btn"
        ><span>run NG</span><i></i
      ></a>
    </div>
  </div>
  <div class="t-container right">
    <div class="t-content">
      <h2>MFG model</h2>
      <p>
        Il Multi-Feature Gravity model (MFG) utilizza le stesse caratteristiche
        e variabili geografiche date in input a Deep Gravity, estratte da
        OneStreetMap, variando però a tempo di elaborazione. L'input verrà
        infatti processato da una rete neurale lineare a strato singolo.
      </p>
      <a href="{%  url 'mfg_results' %}" type="button" class="btn"
        ><span>run MFG</span><i></i
      ></a>
    </div>
  </div>
</div>

<!--<div class="content-container">
  <div>
    <p class="lead">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <a href="{%  url 'jupyter' %}" type="button" class="btn"
      ><span>Run jupyter</span><i></i
    ></a>
  </div>
</div>-->

{% endblock %}
